<div class="section" id="education">
    <div class="container cc-education">
      <div class="h4 text-center mb-4 title">Education</div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2021 - 2024</p>
              <div class="h5">Bachelor's Degree</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Bachelor of Computer Science</div>
               <h4 class="category">Government College, kariyavattam
               </h4>
               <ul>
                <li>Managed by the Department of Collegiate Education, Government of Kerala and have <b>NAAC Grade “B”</b></li>
                    <li>Completed B.Sc in Computer Science with <b>6.72 CGPA</b>.</li>
                 <li>Maintained above <b>6 spi</b> in every semester of college academic .</li>
             </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2019 - 2021</p>
              <div class="h5">Higher Secondary</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Higher Secondary</div>
               <h4 class="category">St. Joseph's Higher Secondary School, Thiruvananthapuram
               </h4>
               <ul>
                <li>
                  The High School was mainly focus on the bases of Computer science and mathematics.
                                  </li>
                                  <li>
                                     There was also a good base on physics and chemistry.
                                  </li>
                                  <li>
                                      Completed my high school with more than<b> 90%</b>.
                                  </li>
             </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2016 - 2019</p>
              <div class="h5">High School</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">High School</div>
               <h4 class="category">St. Joseph's Higher Secondary School, Thiruvananthapuram
               </h4>
               <ul>
                <li>The high school aims at Maths, Science, Social Science, Litrature and Languages.
                </li>
               
                <li>
                    Completed my Secondary school with more than <b>90%</b>.
                </li>
             </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>